@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");

* {
  box-sizing: border-box;
}

html,
body {
  font-family: "Montserrat", sans-serif;
  min-width: 320px;
}

/* HERO */
.hero {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75%;
  padding: 40px 0px;
  margin: 0 auto;
}

.hero-copy {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-title {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.375;
  padding: 10px;
}

.hero-paragraph {
  color: #666666;
  font-size: 1rem;
  line-height: 1.625;
  min-height: 1rem;
  padding: 10px;
}

.hero-button {
  width: fit-content;
  padding: 10px;
}

.hero-button button {
  width: 100%;
  padding: 12px 48px;
  background-color: #2b44ff;
  white-space: nowrap;
  color: #fff;
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: capitalize;
  text-align: center;
  border: none;
  border-radius: 50px;
}

.hero-info {
  padding: 10px;
  font-size: 1rem;
  color: #666666;
}

.hero-image {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.hero-image img {
  width: 100%;
}

/* UTILITIES */
.grid {
  display: grid;
}

.grid-2 {
  grid-template-columns: 3fr 2fr;
}

.padding {
  padding: 10px;
}

/* MEDIA QUERIES */
@media (max-width: 768px) {
    .grid-2 {
        grid-template-columns: 1fr;
    }

    .hero-title {
      font-size: 1.875rem;
    }

    .hero-paragraph, .hero-info {
      font-size: 0.875rem;
    }

    .hero-button {
      width: 100%;
    }

    .hero-image img {
        width: 70%;
        justify-self: center;
        align-self: center;
    }
}